@media only screen and (max-width:40em){
  

  body{

    /*background-color:  #230C82; */
    background:white;

  }

  .big_image{
    display:block;
    max-width:300px;
    background-image: url('/images/scenery.png');
    height:30px;
  }
  .logo{

 
position: relative;
    min-height:20em;
  }
}

@media only screen and (min-width:40.063em) and (max-width:60em){
  
  body{

    background-color: red;
  }
}



@media only screen and (min-width:60.063em){
  
  body{

    background:#F1F0F5;

  }
  .top_part{
    position:relative;
    background:#08093B;
    background-image: url('/images/border.png');
    background-repeat:repeat-x;
    padding:45px 5px;
}



  .logo{
   
    color:#4FD6E8;
    font-weight: 900;
    font-size: 45px;
    font-family: 'Lato';
    display:inline;


}
  
  .logo span{
    
    /*background:green;*/
    margin:0 0.6em;
    
  }
  
  .logo span img{
    width:80px;
    margin:-0.1em -4.5em;

  }
  
  
  
  .menus li {
    margin: 0 -0.2em;
    width:12em;
    text-decoration: none;
   /* background:yellow;*/
    display:inline;

  }
  .menus li:hover{

    bottom-border:white;
  }

  ul.menus{
    
    position:relative;
    display:inline;
    width:5em;
    /*background:red;*/
    margin: 0 37em;
    padding:0 -6em;
   /* top:-28px;*/

  }

  .menus li a{
 
    text-decoration: none;
    padding:3px 9px;
    color:#4FD6E8;
    border-bottom:#4FD6E8 4px solid;
  }
  
  .menus li a:hover{

    color:#F4F7F0;/*white*/
   /* text-decoration:underline;*/
    border-bottom:white 4px solid;
  }

  .middle_part{
    position:relative;
    background-color: white;
    
  }
  .big_image{
    position:relative;
    margin: 99px 22px;
    padding:2.2em 1.2em;
    
  }
  .big_image img{
   
     border:black 4px solid;
     float:left;
     width:60%;
      
  }
  .middle_right_box{

    width:30%;
    float:left;
margin:2em 2em;


  }
  .middle_right_box ul {
    position:relative;
    
    margin:-10.34em 1em;

    background-color:#4FD6E8;
    border: 3.4px lightgray solid;//#F1F0F5
    display:inline;
    
  }

.middle_right_box ul li{
  padding:0.76em 2em;
  text-align:center;
  margin:0 0;
  color:white;
  border:1px gray solid;

}
.middle_right_box ul li:first-child{
  padding:1.11em 4em;
  text-align:center;
  margin:0 0;
  background-color:#08093B;

}
p{

  position:relative;
  margin:2em;
  padding:2em 0.7em;
  clear:both;
  font-weight:bold;
  font-family: 'Lato';
}
.bottom_part{

  background:#08093B;
  background-image: url('/images/border.png');
  background-repeat:no-repeat;
  color:white;
  padding:2em 2em;
  margin:2em 2em;

}
.first_bottom_box{
 
float:left;
margin: 0 3em;
}
.second_bottom_box{
float:left;
margin: 0 3em;
}
.third_bottom_box{

}
  
}




