@import url(http://fonts.googleapis.com/css?family=Lato:400,500,900);




html {
  font-family: 'Lato';
  font-weight: bold;
  
}

body {
 
  background: #2B2D33;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #FFF;
}

header {
  height: 5em;
  color: #00CCCC;
  background: #2B2D33 url('/images/border.png') repeat-x ;
}

.clearfix:after {
  content: ' ';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
 
}
/* logo */
.logo {
  position: relative;
  float: left;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo h1 {
  margin-top: 25px;
  margin-left: 95px;
}

.logo span {
  color: #fff;
}

.logo-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 61px;
  background: url(../images/logo.png) no-repeat;
  background-size: 4em 3em;
}


.top-nav {
  display: none;
}


/* body */

section {
  
  color: #2B2D33;
  background: #fff;
}

.feature-list {
  letter-spacing: 2px;
  color: #2B2D33;
  text-align: center;
  text-transform: uppercase;
  background: #00CCCC;
  box-shadow: 3px 0px 9px #000000;

}

.feature-list li {
  padding: 1.2em;
  border-top: 1px solid #13918F;
}

.feature-list span {
  color: #fff;
}

.feature-header {
  padding: 1em 1em;
  color: #00CCCC;
  background: #2B2D33;
  
}

.hero {
  height: 266px;
  background: #00CCCC url('../images/scenery.png') no-repeat right top;
  background-size: cover;
}

 p {
  padding: 30px 40px;
  font-size: 1.3em;
  line-height: 1.475;

}


footer {
  padding-top: 40px;
  font-size: 1em;
  line-height: 1.9em;
  letter-spacing: 2px;
  color: #00CCCC;  
  text-transform: uppercase;
  background: #2B2D33 url('../images/border.png') repeat-x ;
  
}

.middle-ul {
  display: none;
}

.bottom-nav ul {
  float: left;
  width: 48%;
  padding-left: 40px;
  box-sizing: border-box;
}


.copyright {
  padding: 30px 0 20px;
  color: #fff;
  text-align: center;
}


@media only screen and (min-width: 800px) {

  header {
      height: 140px;
  }

  .logo {
    margin-top: 38px;
    margin-left: 38px;
  }

  .logo h1 { 
    width: 132px;
    margin-top: 10px;
  }

  .logo-image {
    top: -2px;
  }

  

  .top-nav {
    float: right;
    display: block;
    margin-top: 60px;
    margin-right: 47px;
    text-transform: uppercase;
  }

  .top-nav li {
    display: inline;
    letter-spacing: 2px;
    font-size: .9rem;
    padding: 0 10px 10px;

  }

  

  .top-nav li:hover {
    color: #fff;
    border-bottom-color: #fff;
  }

  .hero{
   position:relative;
   background-size: 55em 18em;
   height:18em;
  }

  p{

    padding: 1em auto;
  }

  footer {
    padding-top: 52px;

  }

  .bottom-nav ul {
    width: 27%;
    padding-left: 52px;

  }

  .bottom-nav li:hover {
    color: #fff;
  }

  ul.middle-ul {
    display: inline-block;
    width: 36%;
  }

}

@media only screen and (min-width: 1000px) {

  header {
    position: relative;
    box-shadow: 3px 0px 9px #000000;
  }

  .logo {
    margin-left: 53px;
  }

  .logo h1 {
    margin-left: 0;
    font-size: 52px;
    letter-spacing: 10px;
    width: 456px;

  }

  .logo span {
    float: right;
    color: #00CCCC;
  }

  .logo-image {
    left: 239px;
    width: 108px;
    height: 69px;
    top: 0;
  }

  .top-nav li {
    border-bottom: 4px solid #00CCCC;
    margin: 0 -1.57px;
  }

  section .container {
    padding: 48px 47px 40px 53px;
  }

  
  
  .hero {

    float: left;
    width: 67%;
    border: 4px solid #000;
    box-shadow: 3px 0px 9px #000000;
  }

  .feature-list {
    float: right;
    margin:0;
    width: 30%;
    box-shadow: 3px 0px 9px #000000;
    padding-bottom: 1em;
  }




   section p {

    padding: 2em auto;
    margin:-1.6em;
    margin-top: 12em;
    font-size: 1.6em;
    line-height: 1.2;
  }

  
  footer .container {
    padding: 0 47px 40px 53px;
    position: relative;
  }

  .bottom-nav ul {
    border-left: 3px solid #00CCCC;
    line-height: 1em;
    width: 33.33%;
    padding-left: 29px;
  }

  .bottom-nav li {
    padding-bottom: 1em;
  }

  .bottom-nav li:last-child {
    padding-bottom: 0;
  }

  .copyright {
    background: #00CCCC;
    margin-top: 52px;
    color: #2B2D33;
  }

}